@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.profile-card {
    background-color: #2e2e2e;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    box-shadow: 1px 2px 2px 1px black ;

    animation: fadeIn 0.6s ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: both ;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #fff;

    animation: fadeIn 0.6s ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: both ;
}

h1 {
    font-size: 24px;
    margin: 10px 0;

    animation: fadeIn 0.6s ease-in-out;
    animation-delay: 0.6s;
    animation-fill-mode: both ;
}

.verified i {
    color: #1Da1f2;
    font-size: 18px;

    animation: pulse 1.5s infinite;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;

    animation: fadeIn 0.6s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: both ;
    
}

.links {
    text-align: left;

    animation: fadeIn 0.6s ease-in-out;
    animation-delay: 1.2s;
    animation-fill-mode: both ;
}

.link {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius:30px;
    margin-bottom: 10px;
    border: 1px solid #fff;

    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.link:hover {
    background: #444;
    transform: scale(1.03);
    cursor: pointer;
}

.link i {
    font-size: 30px;
    margin-right: 10px;
}

.link-text p {
    margin: 0;
}